* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #181818;
  color: #ccc;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* SEARCH */
.search-container {
  height: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-inner {
  width: 100%;
  height: 100%;
  outline: solid blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 40px;
}

.search-input {
  width: 95%;
  height: 40px;
  background-color: #181818;
  color: #ccc;
  padding: 10px;
  font-size: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* LIST */
.list-inner {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.list-item {
  border-bottom: 1px solid #ccc;
  border-bottom-color: rgb(204, 204, 204);
  /* padding: 10px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.emoji {
  font-size: 40px;
  margin: 15px;
}